<div class="my-12">
    <div class="flex w-full gap-6 sm:flex-row flex-col sm:items-start items-center">
        <a href="${data.cover}" target="_blank" class="sm:w-1/6 w-3/6 shrink-0 rounded-lg overflow-hidden">
            <img loading="lazy" src="${data.cover}" alt="${data.name} Cover">
        </a>
        <div class="flex flex-col sm:text-left text-center justify-between flex-1 sm:gap-1 gap-6">
            <div class="space-y-1.5">
                <h1 class="text-2xl">${data.name} <span class="text-zinc-400">(${data.year})</span></h1>
                <p class="text-zinc-400">${data.overview}</p>
            </div>
            <div class="flex sm:items-end items-center sm:flex-row flex-col gap-2 justify-center sm:my-4 sm:justify-between">
                <div class="text-sm">
                    <p>Uploaded By: '${data.uploadedBy}'</p>
                    <p>Uploaded At: ${data.uploadedAt}</p>
                    <p>Filesize: ${filesize(data.size)}</p>
                    <p>Tracks: ${data.tracks.length}</p>
                </div>
                <div class="flex gap-2">
                    {% include "parts/DownloadButton.html" %}
                    <a href="${endpoint}" target="_blank" class="h-11 w-11 text-sm sm:mt-0 mt-4 bg-zinc-700 rounded-full flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg>
                    </a>
                </div>
            </div>
            <div>
                <h2 class="text-xl font-semibold">Track List</h2>
                <div class="my-2 text-sm rounded-md divide-y divide-y-zinc-800">
                    ${tracksHTML}
                </div>
            </div>
        </div>
    </div>
</div>