<div class="relative p-4 bg-zinc-700/20 overflow-hidden rounded-xl">
    <img loading="eager" src="${data.album.custom_header_image_url}" class="absolute z-[-10] brightness-[0.2] rounded-xl select-none sm:blur-sm w-full top-0 left-0 right-0 bottom-0">
    <div class="flex w-full gap-6 items-center sm:flex-row flex-col">
        <a href="${data.album.cover_art_url}" class="sm:w-3/12" target="_blank">
            <img loading="lazy" src="${data.album.cover_art_url}" class="overflow-hidden border border-white/5 rounded-lg" alt="${data.album.full_title} Cover">
        </a>
        <div class="flex sm:w-9/12 flex-col h-full">
            <div class="space-y-4">
                <div class="space-y-0.5">
                    <h1 class="text-3xl font-semibold">${data.album.name}</h1>
                    <h2 class="text-lg">${data.album.artist.name}</h2>
                    <p class="text-sm text-zinc-400 flex items-center gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 -mt-[1px]"><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10h18"/></svg>
                        Released ${data.album.release_date_for_display}
                    </p>
                </div>
                <div class="space-y-1.5">
                    <h2 class="text-lg">Overview</h2>
                    <div class="p-2 bg-zinc-700/30 backdrop-blur-sm rounded-lg">
                        ${data.album.description_preview ? `
                            <p ReadMore class="text-zinc-400 cursor-pointer text-sm clammped-text">${data.album.description_preview}</p>
                        `:`
                            <p class="text-zinc-400 cursor-pointer text-sm clammped-text">No overview provided</p>
                        `}
                    </div>
                    <style>
                        .clammped-text {
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                                    line-clamp: 3; 
                            -webkit-box-orient: vertical;
                         }
                    </style>
                </div>
                <div class="flex justify-between items-start w-full">
                    <div class="text-xs text-left">
                        <p>Uploaded At: ${index.uploadedAt}</p>
                        <p>Uploaded By: '${index.uploadedBy}'</p>
                        <p>Available Tracks: ${index.tracks.length}</p>
                        <p>Filesize: ${filesize(index.size)}</p>
                    </div>
                    <div class="flex gap-2">
                        <button class="h-11 text-sm animate-pulse px-4 bg-zinc-700 rounded-full" title="Download '${data.album.full_title}' • ${index.type}">Download</button>
                        <div id="ReadMoreOverview" style="display: none;" class="absolute flex items-center justify-center top-0 left-0 right-0 bottom-0 p-4">
                            <div class="sm:w-4/6 flex flex-col h-fit max-h-[100%] bg-zinc-700/50 backdrop-blur-xl p-4 rounded-xl mx-auto">
                                <div class="space-y-2 flex flex-col">
                                    <div class="flex items-start justify-between">
                                        <div>
                                            <h1 class="text-2xl">Overview</h1>
                                            <p class="text-sm">${data.album.name_with_artist}</p>
                                        </div>
                                        <button ReadMore>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                                        </button>
                                    </div>
                                    <p class="text-zinc-400 flex flex-col pr-2 overflow-y-auto">${data.album.description_preview}</p>
                                </div>
                            </div>
                        </div>
                        <button ReadMore class="h-11 flex items-center text-sm px-4 border-zinc-700 hover:bg-zinc-700 transition-all border rounded-full">More Details</button>
                        <a href="${data.album.url}" title="View '${data.album.full_title}' on Geniuis" target="_blank" class="h-11 w-11 text-sm bg-zinc-700 rounded-full flex items-center justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="my-6 sm:px-0 px-4">
    <div class="flex sm:flex-row flex-col gap-6">
        <div class="sm:w-4/6 flex flex-col">
            <div class="space-y-2 flex flex-col">
                <h1 class="text-xl font-medium">Tracklist</h1>
                <div class="text-sm divide-y divide-zinc-700">
                    ${data.album_appearances.map((track) => {
                        const index_track = index.tracks.find((index_track) => index_track.id == track.track_number);
                        if (index_track) {
                            return `
                                <a href="{{ url_for('views.view') }}?url=/music/albums/tracks/${index_track.location}&type=track&album=${url}" class="flex items-start text-white p-1 gap-2">
                                    <p>${track.track_number}.</p>
                                    <h1>${track.song.title}</h1>
                                    ${track.song.featured_artists && track.song.featured_artists.length > 0 ? `
                                        <span>•</span>
                                        <p>${track.song.featured_artists.map(featured_artist => featured_artist.name).join('-')}</p>
                                    ` : ''}
                                </a>
                            `;
                        } else {
                            return `
                                <div class="flex select-none items-start text-zinc-600 cursor-default p-1 gap-2">
                                    <p>${track.track_number}.</p>
                                    <h1>${track.song.title}</h1>
                                    ${track.song.featured_artists && track.song.featured_artists.length > 0 ? `
                                        <span>•</span>
                                        <p>${track.song.featured_artists.map(featured_artist => featured_artist.name).join('-')}</p>
                                    ` : ''}
                                </div>
                            `;
                        }
                    }).join('')}
                </div>
            </div>
            
        </div>
        <div class="sm:w-2/6 flex flex-col gap-4">
            <div class="space-y-2">
                <h1 class="text-xl font-medium">Other Albums by ${data.album.artist.name}</h1>
                <div class="grid grid-cols-2 gap-4">
                    ${data.other_albums_by_artist.slice(0, 6).map((album) => `
                        <a href="${album.url}" target="_blank" class="bg-zinc-700 rounded-md group overflow-hidden">
                            <div class="overflow-hidden">
                                <img loading="lazy" src="${album.cover_art_url}" alt="${album.full_title} Cover" class="group-hover:scale-110 transition-all">
                            </div>
                            <div class="flex text-sm items-center gap-2 p-2">
                                <h1 class="truncate" title="${album.full_title}">${album.full_title}</h1>
                            </div>
                        </a>
                    `).join('')}
                </div>
            </div>
        </div>
    </div>
</div>