<div>
    <div class="flex items-center gap-2">
        <span class="px-2 py-0.5 border text-sm text-center border-zinc-700 rounded-full hover:bg-zinc-700 transition-all select-none uppercase">${result.original_language}</span>
        <span class="px-2 py-0.5 border text-sm text-center border-zinc-700 rounded-full hover:bg-zinc-700 transition-all select-none">${result.release_date}</span>
        <span class="px-2 py-0.5 border text-sm text-center border-zinc-700 rounded-full hover:bg-zinc-700 transition-all select-none">${result.adult}</span>
        <a href="https://www.themoviedb.org/movie/${result.id}" target="_blank" class="px-2 py-0.5 border text-sm text-center border-zinc-700 rounded-full hover:bg-zinc-700 transition-all">TMDB: ${result.id}</a>
    </div>
</div>