<div class="relative p-4 overflow-hidden rounded-xl">
    <img loading="eager" src="https://image.tmdb.org/t/p/original/${data.backdrop_path}" class="absolute z-[-10] brightness-[0.2] rounded-xl select-none sm:blur-sm w-full top-0 left-0 right-0 bottom-0" alt="">
    <div class="flex w-full gap-6 sm:flex-row flex-col items-center">
        <a href="https://image.tmdb.org/t/p/original/${data.poster_path}" target="_blank" class="sm:w-1/6 w-3/6 shrink-0 rounded-lg overflow-hidden">
            <img loading="lazy" src="https://image.tmdb.org/t/p/original/${data.poster_path}" alt="${data.original_title} Cover">
        </a>
        <div class="flex flex-col sm:text-left text-center justify-between flex-1 sm:gap-1 gap-6">
            <div class="space-y-4">
                <div class="flex flex-col gap-1">
                    <h1 class="text-3xl">${data.original_title} <span class="text-zinc-400">(${data.release_date})</span></h1>
                    <div class="flex items-center my-1 text-sm gap-2">
                        <p>Playtime ${formatTime(data.runtime)}</p>
                        <span class="text-zinc-600">•</span>
                        <i class="text-zinc-400">${data.tagline}</i>
                    </div>
                </div>
                <div>
                    <h2 class="text-lg">Overview</h2>
                    <p class="text-zinc-400">${data.overview}</p>
                </div>
            </div>
            <div class="flex items-center sm:justify-start justify-center gap-2 sm:my-4">
                ${data.genres.map((genre) => `<p class="rounded-full h-8 flex items-center text-sm px-2 border backdrop-blur-md border-zinc-700 hover:bg-zinc-700 transition-all select-none">${genre.name}</p>`).join('')}
            </div>
            <div class="flex justify-between sm:items-end items-center w-full">
                <div class="text-sm text-left">
                    <p>Uploaded By: '${index.uploadedBy}'</p>
                    <p>Uploaded At: ${index.uploadedAt}</p>
                    <p>Filesize: ${filesize(index.size)}</p>
                    <p>Parts: ${index.parts.length}</p>
                </div>
                <div class="flex gap-2">
                    <button class="h-11 text-sm animate-pulse sm:mt-0 mt-4 px-4 bg-zinc-700 rounded-full" title="Download '${data.original_title}' • ${index.type}">Download</button>
                    <a href="https://www.themoviedb.org/movie/${data.id}" title="View '${data.original_title}' on TMDB" target="_blank" class="h-11 w-11 text-sm sm:mt-0 mt-4 bg-zinc-700 rounded-full flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="my-6 px-4">
    <div class="flex sm:flex-row flex-col-reverse gap-6">
        <div class="sm:w-4/6 flex flex-col">
            <div class="space-y-2 flex flex-col">
                <h1 class="text-xl font-medium">The Cast</h1>
                <div class="sm:flex grid grid-cols-2 overflow-x-auto gap-6 rounded-md">
                    ${actors.cast.map((actor) => `
                        <a href="https://www.themoviedb.org/person/${actor.id}" target="_blank" class="bg-zinc-700 shrink-0 sm:w-2/12 flex-col overflow-hidden rounded-md shink-0 flex">
                            <img loading="lazy" alt="${actor.name}" class="w-full" src="https://image.tmdb.org/t/p/original/${actor.profile_path}"/>
                            <div class="p-2">
                                <h2 class="truncate w-full font-medium" title="${actor.name}">${actor.name}</h2>
                                <p class="text-sm truncate" title="${actor.character}">${actor.character}</p>
                            </div>
                        </a>    
                    `).join('')}
                </div>
            </div>
        </div>
        <div class="sm:w-2/6 flex flex-col gap-4">
            <h1 class="text-xl font-medium pt-1">Details</h1>
            <div class="space-y-0.5">
                <h1 class="font-semibold">Status</h1>
                <p class="text-sm">${data.status}</p>
            </div>
            <div class="space-y-0.5">
                <h1 class="font-semibold">Original Language</h1>
                <p class="text-sm uppercase">${data.original_language}</p>
            </div>
            <div class="space-y-0.5">
                <h1 class="font-semibold">Budget</h1>
                <p class="text-sm uppercase">$${data.budget}</p>
            </div>
            <div class="space-y-0.5">
                <h1 class="font-semibold">Revenue</h1>
                <p class="text-sm uppercase">$${data.revenue}</p>
            </div>
            <div class="space-y-1">
                <h1 class="font-semibold">Keywords</h1>
                <div class="flex flex-wrap gap-2">
                    ${keywords.keywords.map((keyword) => `<a target="_blank" href="https://www.themoviedb.org/keyword/${keyword.id}" class="rounded-full h-8 flex items-center text-sm px-2 border backdrop-blur-md border-zinc-700 hover:bg-zinc-700 transition-all select-none">${keyword.name}</a>`).join('')}
                </div>
            </div>
        </div>
    </div>
</div>