${album ? `
    <div class="mb-4">
        <a href="{{ url_for('views.view') }}?url=${album}&type=album" class="h-11 px-4 w-fit text-sm bg-zinc-700/50 rounded-full flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mt-[1px]"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
            Goto Album
        </a>
    </div>
`: ``}
<div class="relative p-4 bg-zinc-700/20 overflow-hidden rounded-xl">
    <div class="flex w-full gap-6 items-center sm:flex-row flex-col">
        <a href="${data.header_image_url}" class="sm:w-3/12" target="_blank">
            <img loading="lazy" src="${data.header_image_url}" class="overflow-hidden border border-white/5 rounded-lg" alt="${data.album.full_title} Cover">
        </a>
        <div class="flex sm:w-9/12 flex-col h-full">
            <div class="space-y-4">
                <div class="space-y-0.5">
                    <h1 class="text-3xl font-semibold flex items-center gap-3">
                        ${data.title}
                        ${data.explicit == true ? `
                            <p class="h-7 w-7 text-base font-normal flex items-center text-zinc-400 justify-center text-center rounded-md border border-zinc-700 hover:bg-zinc-700 hover:text-white transition-all cursor-default select-none">E</p>
                        `: ``}
                    </h1>
                    <h2 class="text-lg">${data.album.artist.name}</h2>
                    <p class="text-sm text-zinc-400 flex items-center gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 -mt-[1px]"><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10h18"/></svg>
                        Released ${data.release_date_for_display}
                    </p>
                </div>
                ${data.featured_artists && data.featured_artists.length > 0 ? `
                    <div class="space-y-1">
                        <h2 class="text-lg">Featuring</h2>
                        <div class="flex items-center text-sm gap-2">
                            ${data.featured_artists.map((artist) => `
                                <p class="rounded-full h-8 flex items-center text-sm px-2 border backdrop-blur-md border-zinc-700 hover:bg-zinc-700 transition-all select-none">${artist.name}</p>
                            `).join('')}
                        </div>
                    </div>
                ` : ''}
                <div class="space-y-3">
                    <div class="space-y-2">
                        <h2 class="text-lg">Overview</h2>
                        <div class="p-2 bg-zinc-700/30 backdrop-blur-sm rounded-lg">
                            <p ReadMore class="text-zinc-400 cursor-pointer text-sm clammped-text">${data.description_preview}</p>
                        </div>
                        <style>
                            .clammped-text {
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                        line-clamp: 3; 
                                -webkit-box-orient: vertical;
                             }
                        </style>
                    </div>
                    <div class="flex items-center justify-end">
                        <div id="ReadMoreOverview" style="display: none;" class="absolute flex items-center justify-center top-0 left-0 right-0 bottom-0 p-4">
                            <div class="sm:w-4/6 flex h-fit max-h-[100%] bg-zinc-700/50 backdrop-blur-xl p-4 rounded-xl mx-auto">
                                <div class="space-y-2 flex flex-col">
                                    <div class="flex items-start justify-between">
                                        <div>
                                            <h1 class="text-2xl">Overview</h1>
                                            <p class="text-sm">${data.full_title}</p>
                                        </div>
                                        <button ReadMore>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                                        </button>
                                    </div>
                                    <p class="text-zinc-400 flex flex-col pr-2 overflow-y-auto">${data.description_preview}</p>
                                </div>
                            </div>
                        </div>
                        <button ReadMore class="h-9 flex items-center text-xs px-3 border-zinc-700 hover:bg-zinc-700 transition-all border rounded-full">More Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="my-6">
    <div class="space-y-2 flex flex-col">
        <div class="flex justify-between items-start w-full">
            <div class="text-sm text-left">
                <p>Filesize: ${filesize(index.size)}</p>
                <p>Parts: ${index.parts.length}</p>
            </div>
            <div class="flex gap-2">
                <button class="h-11 text-sm animate-pulse px-4 bg-zinc-700 rounded-full" title="Download '${data.title}' • ${index.type}">Download</button>
                <a href="${data.url}" title="View '${data.title}' on Geniuis" target="_blank" class="h-11 w-11 text-sm bg-zinc-700 rounded-full flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg>
                </a>
                    ${data.youtube_url != "" ? `
                        <a href="${data.youtube_url}" title="Watch '${data.title}' on YouTube" target="_blank" class="h-11 w-11 text-sm bg-zinc-700 rounded-full flex items-center justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4"><path d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"/><path d="m10 15 5-3-5-3z"/></svg>
                        </a>
                    `: ``}
            </div>
        </div>
    </div>
</div>