{% extends "layout.html" %}

{% block content %}
    <div class="px-4">
        <div class="mx-auto container w-full">
            <div id="FileDetailsContainer" class="my-12 h-full">
                {% include "parts/LoadingSpinner.html" %}
            </div>
        </div>
        <script>
            const FileDetailsContainer = $("#FileDetailsContainer"); 
            const url = location.search.split("?url=")[1].split("&")[0];
            const type = location.search.split("&type=")[1].split("&")[0];
            const base_url = "https://raw.githubusercontent.com/MediahTM/Mediah-Downloads/main/downloads/";
            const title_prefix = "Mediah Local"

            function formatTime(minutes) {
                if (typeof minutes !== 'number' || isNaN(minutes)) {
                    return "Invalid input, create a GitHub issue!";
                }
                const hours = Math.floor(minutes / 60) + "h";
                var remainingMinutes = minutes % 60 + "m";
                return `${hours} ${remainingMinutes}`;
            }

            console.log(`Type: ${type}`)
            
            switch(type) {
                case "film": {
                    $.get({
                        url: `${base_url}${url}`,
                        success: (index) => {
                            index = JSON.parse(index)
                            index.uploadedAt = new Date(index.uploadedAt)
                            $.get({
                                url: `https://api.themoviedb.org/3/movie/${index.tmdb}?api_key={{tmdb_apikey}}`,
                                success: (data) => {
                                    $.get({
                                        url: `https://api.themoviedb.org/3/movie/${index.tmdb}/keywords?api_key={{tmdb_apikey}}`,
                                        success: (keywords) => {
                                            $.get({
                                                url: `https://api.themoviedb.org/3/movie/${index.tmdb}/credits?api_key={{tmdb_apikey}}`,
                                                success: (actors) => {
                                                    document.title = `${title_prefix} - ${data.title}`
                                                    FileDetailsContainer.html(``);
                                                    try {
                                                        FileDetailsContainer.append(`{% include "parts/FilmView.html" %}`)
                                                    }
                                                    catch {}
                                                },
                                                error: (error) => {
                                                    alert(`Ran in to an issue fetching the tmdb credits data, create a GitHub issue!`)
                                                }
                                            })
                                        },
                                        error: (error) => {
                                            alert(`Ran in to an issue fetching the tmdb keyword data, create a GitHub issue!`)
                                        }
                                    })
                                },
                                error: (error) => {
                                    alert(`Ran in to an issue fetching the tmdb data, create a GitHub issue!`)
                                }
                            })
                        },
                        error: (error) => {
                            alert(`Ran in to an issue fetching the film json data, create a GitHub issue!`)
                        }
                    })
                    break;
                }
                case "album": {
                    $.get({
                        url: `${base_url}${url}`,
                        success: (index) => {
                            index = JSON.parse(index)
                            index.uploadedAt = new Date(index.uploadedAt)
                            $.get({
                                url: `{{ url_for('views.get_json') }}?url=${index.genius}`,
                                success: (data) => {
                                    data = data.response.page_data
                                    document.title = `${title_prefix} - ${data.album.full_title}`
                                    FileDetailsContainer.html(``);
                                    try {
                                        FileDetailsContainer.append(`{% include "parts/AlbumView.html" %}`)
                                    }
                                    catch {}
                                    $("[ReadMore]").click(() => {
                                        $("#ReadMoreOverview").toggle();
                                    })
                                },
                                error: (error) => {
                                    alert(`Ran into an issue fetching the genius details, create a GitHub issue!`);
                                }
                            })
                        },
                        error: (error) => {
                            alert(`Ran in to an issue fetching the album json data, create a GitHub issue!`)
                        }
                    }) 
                    break;
                }
                case "track": {
                    $.get({
                        url: `${base_url}${url}`,
                        success: (index) => {
                            index = JSON.parse(index)
                            $.get({
                                url: `{{ url_for('views.get_json') }}?url=${index.genius}`,
                                success: (data) => {
                                    data = data.response.song
                                    document.title = `${title_prefix} - ${data.full_title}`
                                    FileDetailsContainer.html(``);
                                    var favicon = $("#favicon")
                                    favicon.attr("href", data.header_image_url) 
                                    console.log(data)
                                    const album = location.search.split("&type=")[1].split("&album=")[1];
                                    try {
                                        FileDetailsContainer.append(`{% include "parts/TrackView.html" %}`)
                                    }
                                    catch {}
                                    $("[ReadMore]").click(() => {
                                        $("#ReadMoreOverview").toggle();
                                    })
                                },
                                error: (error) => {
                                    alert(`Ran into an issue fetching the genius details, create a GitHub issue!`);
                                }
                            })
                        },
                        error: (error) => {
                            alert(`Ran in to an issue fetching the album json data, create a GitHub issue!`)
                        }
                    }) 
                    break;
                }
            }
        </script>
    </div>
{% endblock %}