{% extends "layout.html" %}

{% block content %}
    <div class="px-4">
        <div class="mx-auto container w-full">
            <div id="FileDetailsContainer" class="my-12">

            </div>
        </div>
        <script>
            const FileDetailsContainer = $("#FileDetailsContainer"); 
            const url = location.search.split("?url=")[1].split("&")[0];
            const type = location.search.split("&type=")[1];
            const base_url = "https://raw.githubusercontent.com/MediahTM/Mediah-Downloads/main/downloads/";

            switch(type) {
                case "film": {
                    $.get({
                        url: `${base_url}${url}`,
                        success: (index) => {
                            index = JSON.parse(index)
                            $.get({
                                url: `https://api.themoviedb.org/3/movie/${index.tmdb}?api_key={{tmdb_apikey}}`,
                                success: (data) => {
                                    console.log(data)
                                    FileDetailsContainer.append(`{% include "parts/FilmView.html" %}`)
                                },
                                error: (error) => {
                                    alert(`Ran in to an issue fetching the tmdb data, create a GitHub issue!`)
                                }
                            })
                        },
                        error: (error) => {
                            alert(`Ran in to an issue fetching the film json data, create a GitHub issue!`)
                        }
                    })
                }
            }
        </script>
    </div>
{% endblock %}