<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <script src="{{ url_for('static', filename='js/filesize.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script>console.clear();console.info("Mediah Local Initialized...")</script>

    <style>*{font-family: "Inter", sans-serif;color-scheme: dark !important;}</style>

    <title>Mediah Local</title>
</head>
<body class="h-screen bg-zinc-900 text-white">
    {% include "nav.html" %}
    {% block content %}{% endblock %}
</body>
</html>