{% extends "layout.html" %}

{% block content %}
    <div class="px-4">
        <div class="mx-auto container w-full">
            <div id="FileDetailsContainer">

            </div>
        </div>
        <script>
            const FileDetailsContainer = $("#FileDetailsContainer");
            const type = location.search.split("&type=")[1].toString();
            const endpoint = location.search.split("?url=")[1].split("&")[0].toString();

            console.log(`Endpoint: ${endpoint}`)
            console.log(`Type: ${type}`)

            FileDetailsContainer.html("");
            if (type == "film") {
                $.get({
                    url: endpoint,
                    success: (data) => {
                        data = JSON.parse(data);
                        data.uploadedAt = new Date(data.uploadedAt)
                        FileDetailsContainer.append(`{% include "parts/MovieView.html" %}`)
                    },
                    error: (data) => {
                        window.location = "{{ url_for('views.index') }}"
                    } 
                })
            }
        </script>
    </div>
{% endblock %}